{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<aside class="sidebar_admin p-0">
		<div class="sidebar_admin_header">
			<span class="menu_icon">
                <i class="fa-solid fa-xmark xmark"></i>
				<i class="fa-solid fa-chevron-right"></i>
			</span>
			<div class="logo_container active">
				<img src="{{ asset('build/images/logos/logo-light.png') }}" class="sidebar_logo" alt="Logo Apside">
			</div>
			<div class="dashboard_title">
				Your research
			</div>
		</div>

		<ul class="side_admin_menu p-0 m-0">
			<li class="side_item no_hover active">
				<a href="#">
					<i class=""></i>
					<span>
						Projects
					</span>
					<i class="fa-solid fa-angle-right arrow"></i>
				</a>
			</li>
			<li class="side_item">
				<a href="#">
					<i class=""></i>
					<span>
						Langages
					</span>
                    <i class="fa-solid fa-angle-right arrow"></i>
				</a>
			</li>
			<!-- <ul class="sub_menu">
				<li class="">
					<a href="#">PHP</a>
				</li>
				<li>
					<a href="#">JS</a>
				</li>
				<li class="">
					<a href="#">JAVA</a>
				</li>
				<li class="">
					<a href="#">All</a>
				</li>
			</ul> -->

			<li class="side_item">
				<a href="#">
					<i class=""></i>
					<span>
						Features
					</span>
                    <i class="fa-solid fa-angle-right arrow"></i>
				</a>
			</li>
			<!-- <ul class="sub_menu">
				<li class="">
					<a href="#">API Rest</a>
				</li>
				<li>
					<a href="#">Payment</a>
				</li>
				<li class="">
					<a href="#">Filter</a>
				</li>
				<li class="">
					<a href="#">Modal</a>
				</li>
			</ul> -->
			<li class="side_item">
				<a href="#">
					<i class=""></i>
					<span>
						Domains
					</span>
                    <i class="fa-solid fa-angle-right arrow"></i>
				</a>
			</li>
		</ul>
	</aside>

{% endblock %}
