{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!
{% endblock %}

{% block body %}
	<div class="d-flex align-items-start">
		<div class="navbar-reduce"></div>
		<div class="bubble">
			<div class="bubble-text">
				<h2 class="text-center mt-4 p-3">What type of project ?</h2>
				<div class="row row-cols-3 mb-5 mx-5">
					{% for feature in features %}
						<div class="col">
							<a href="{{ path('index') }}">{{feature.name}}</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
