@import "../_var.scss";

.project-list-main-content {
    display: flex;
    width: 1635px;
    height: 895px;
    padding-top: 95px;
    margin-left: 90px;
    padding-left: 120px;
    gap: 20px;
    .project-list-main-content-title {
        position: relative;
        width: 695px;
        height: 750px;
        .project-list-title-orange-block {
            top: 0;
            left: 0;
            width: 612px;
            height: 749px;
            background-color: $primary-orange;
        }
        .project-list-title-content {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 125px;
            left: 230px;
            width: 450px;
            height: 500px;
            padding-left: 105px;
            .project-list-title-content-subtitle {
                font-family: $title-font;
                font-size: 31px;
                margin-bottom: 0;
                line-height: 0px;
            }
            .project-list-title-content-title {
                font-family: $title-font;
                font-weight: 800;
                font-size: 54px;
                margin-bottom: 5px;
            }
            .project-list-title-content-text {
                font-family: $text-font;
                font-size: 16px;
                text-align: justify;
                margin-bottom: 5px;
            }
            .project-list-title-content-button {
                background-color: transparent;
                border: 1px solid black;
                width: 217px;
                height: 53px;
                margin-top: 20px;
            }
        }
    }
}