@import "../_var.scss";

.navbar {
    width: 300px;
    background-color: $secondary-blue;
    height: 100vh;
}

.navbar-reduce {
    width: 70px;
    background-color: $secondary-blue;
    height: 100vh;
}
