    <aside class="sidebar_user p-0">
		<div class="sidebar_user_header">
			<span class="menu_icon">
                <i class="fa-solid fa-xmark xmark"></i>
				<i class="fa-solid fa-chevron-right chevron"></i>
			</span>
			<div class="logo_container">
				<img src="{{ asset('build/images/logos/logo-light.png') }}" class="sidebar_logo" alt="Logo Apside">
			</div>
			<div class="dashboard_title">
				Your research
			</div>
		</div>

		<ul class="side_user_menu p-0 m-0">
			<li class="side_item active">
				<a href="#">
					<span>
						Projects
					</span>
					<i class="fa-solid fa-angle-right arrow" id="arrow1"></i>
				</a>
			</li>
			<li class="side_item active">
				<a href="#" id="arrow2">
					<span>
						Langages
					</span>
                    <i class="fa-solid fa-angle-right arrow collapse__link" id="fleche"></i>
				</a>
			</li>
			<ul id="sub_menu">
				<li class="">
					<a href="#">PHP</a>
				</li>
				<li>
					<a href="#">JavaScript</a>
				</li>
				<li class="">
					<a href="#">JAVA</a>
				</li>
			</ul> 

			<li class="side_item">
				<a href="#" id="arrow3">
					<span>
						Features
					</span>
                    <i class="fa-solid fa-angle-right arrow" id="fleche1"></i>
				</a>
			</li>
			<ul id="sub_menu_feature">
				<li class="">
					<a href="#">API Rest</a>
				</li>
				<li>
					<a href="#">Payment</a>
				</li>
				<li class="">
					<a href="#">Filter</a>
				</li>
				<li class="">
					<a href="#">Modal</a>
				</li>
			</ul> 
			<li class="side_item">
				<a href="#">
					<span>
						Domains
					</span>
                    <i class="fa-solid fa-angle-right arrow" id="arrow4"></i>
				</a>
			</li>
		</ul>
	</aside>