 .sidebar_user {
    color: white;
    //background: $aside-main-color;
}

aside {
    position: absolute;
    z-index: 15;
    width: 70px;
    left: 0;
    height: 1080px;
    background: #0F2334;
    font-family: 'Montserrat';
    //left: -90px;


    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
    }

    .sidebar_user_header {
        .menu_icon {
            .xmark {
                display: none;
            }
            position: absolute;
            right: 0px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            font-size: 20px;
            padding: 1px;
            cursor: pointer;
            text-align: center;
        }

        .logo_container {
            display: none !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 2em;
            overflow: hidden;

            .sidebar_logo  {
                display: flex;
                align-self: center;
                width: 18em;
                padding: 2.2em;
                
            }    
        }

        .dashboard_title {
            display: none !important;
            color: darken(white, 15%);
            font-size: 1.5em;
            padding-top: 0.15em;
            display: flex;
            justify-content: center;
            font-weight: 600;
            line-height: 3em;
            letter-spacing: 2px;
            overflow: hidden;
        }  
    }

    .side_user_menu {
        display: none;
        li {
            list-style: none;
            overflow: hidden;
            border-radius: 10px;
            padding: 10px;
            margin: 20px;
            transition: 0.5s;
            letter-spacing: 1px;
            font-weight: 700;
            &:first-child {
                padding-bottom: 20px;
            }
            &:hover {
                background: #E79759;
            }
            a {
                position: relative;
                height: 40px;

                .arrow {
                    position: absolute;
                    right: 0;
                    transition: .5s;
                    overflow:hidden;
                    padding-right: 10px;
                }

                span {
                    //margin-left: 0px;
                    //width:100px;
                    transition: .5s;
                    font-size: 20px;
                }
                &:hover {
                    color:white;
                }
            }
        }

        #sub_menu {
            //display: none;
            width: 100%;
            max-height: 0px;
            transition: 0.5s;
            overflow: hidden;
            
             li {
                height: 2.8em;
                margin-right: 2em!important;
                margin: 0px;
                padding-left: 0.9em;
                font-size: 1em;
                font-weight: 200;
                a {
                    position: initial;
                    height: 100%;
                    display: initial;
                } 
            }
        }
        #sub_menu_feature {
            //display: none;
            width: 100%;
            max-height: 0px;
            transition: 0.5s;
            overflow: hidden;
            
             li {
                height: 2.8em;
                margin-right: 2em!important;
                margin: 0px;
                padding-left: 0.9em;
                font-size: 1em;
                font-weight: 200;
                a {
                    position: initial;
                    height: 100%;
                    display: initial;
                } 
            }
        }
        .sub_menu_feature {
            //display: none;
            width: 100%;
            max-height: 0px;
            transition: 0.5s;
            overflow: hidden;
            
             li {
                height: 2.8em;
                margin-right: 2em!important;
                margin: 0px;
                padding-left: 0.9em;
                font-size: 1em;
                font-weight: 200;
                a {
                    position: initial;
                    height: 100%;
                    display: initial;
                } 
            }
        }
    }
}

.chevron{
    display: initial;
}

aside.reduce {
    width: 300px;
    
    .menu_icon>.xmark {
        display: initial;
    }

    .menu_icon>.chevron {
        display: none;
    }

    .dashboard_title {
        display: initial !important;
        text-align: center;
    }

    .logo_container {
        display: initial !important;
    }
    
    .side_user_menu {
        display: initial;
    }
}

/* li.active {
    .sub_menu {
        max-height: 1000px!important;
        overflow: visible;
    }

     a>.arrow {
        transform: rotate(90deg);
    } 
}  */

