
// Text Font
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&display=swap');

// Title Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$title-font: 'Montserrat', sans-serif;
$text-font: 'Hind', sans-serif;

$primary-orange: #E79759;
$primary-black: #464646;
$secondary-black: #183650;
$primary-green: #5abdb2;

