// Text Font
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&display=swap');

// Title Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$title-font: 'Montserrat', sans-serif;
$text-font: 'Hind', sans-serif;

$primary-black: #000000;

$primary-grey: #464646;

$primary-blue: #183650;
$secondary-blue: #0A1E30;

$primary-green: #5abdb2;

$primary-white: #fff;
$secondary-white: #F0F0F0;

$primary-orange: #E79759;
$secondary-orange: #E77620;


/* Modification of the scrollbar properties */
/* Works on Firefox */
* {
    scrollbar-width: none;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: none;
    border-right: 1px solid $secondary-blue;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $primary-orange;
    border-radius: 20px;
    border-right: none;
  }
