// Text Font
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&display=swap');

// Title Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$title-font: 'Montserrat', sans-serif;
$text-font: 'Hind', sans-serif;

$primary-black: #000000;

$primary-grey: #464646;

$primary-blue: #183650;
$secondary-blue: #0A1E30;

$primary-green: #5abdb2;

$primary-white: #fff;
$secondary-white: #F0F0F0;

$primary-orange: #E79759;
$secondary-orange: #E77620;

