.navbar {
    width: 70px;
    background-color: gray;
    height: 100vh;
}

.search {
    width: 600px;
}

#search-input {
    width: 10em;
    margin-left: 300px;
    border: none;
}

.loupe {
    width: 40px;
}
