<div class="project-card">
    <img class="project-card-image" src="{{ asset('build/images/card'~ i ~'.jpg') }}"/>
    <p class="project-card-title">LOREM IPSUM PROJECT</p>
    <p class="project-card-subtitle">LOREM IPSUM FUNCTIONNALITY</p>
    <p class="project-card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam tellus, fermentum quis nisl in, egestas finibus urna. Nunc blandit ut sapien ut egestas. Aliquam sed risus sit amet odio lobortis porttitor. Donec a commodo sem. </p>
    <button class="project-card-button">View details of this project</button>
</div>