{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<div class="d-flex align-items-start">
    <div class="navbar-reduce"></div>
    <div class="body-page">
        <div class="search border border-1 d-flex mt-5">
			<input type="search-input" class="form-control border-0" id="search" name="search">
			<img class="loupe" src="{{ asset('build/images/loupe.png') }}">

            <div>
                <img class="logo aside" width="60" src="{{ asset('build/images/logos/logo-dark.png') }}">
            </div>
		</div>


        <div class="bubble">
            <div class="bubble-text">
            <h2 class="text-center mt-3">What are you looking for ?</h2>
                <p class="text-center">A feature<a href="#"> >></a></p>
                <p class="text-center">A project<a href="{{ path('project') }}"> >></a></p>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}