{% extends 'base.html.twig' %}

{% block title %}Project-search
{% endblock %}

{% block body %}
	<div class="bg-img d-flex align-items-start justify">
		<div class="main-container">
			<div>
				<img class="img-apside-robot" src="{{ asset('build/images/apside_robot.png') }}"/>
			</div>
			<div class="bubble">
				<div class="bubble-text">
					<h2 class="text-center p-3">Hi, I'm here to help you !</h2>
					<div class="row row-cols-2">
						<p class="text-center">
							<a href="#">No, thanks !</a>
						</p>
						<p class="text-center">
							<a href="{{path('profile')}}">Let's start</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
