{% extends 'base.html.twig' %}

{% block title %}Compagnon Results{% endblock %}

{% block body %}
    <div class="project-list-border">
        <span class="project-list-border-line"></span>
        <p class="project-list-border-text">Projects</p>
    </div>
    <main class="project-list-main-content">
        <div class="project-list-main-content-title">
            <div class="project-list-title-orange-block"></div>
            <div class="project-list-title-content">
                <p class="project-list-title-content-subtitle">YOUR</p>
                <p class="project-list-title-content-title">RESULTS</p>
                <p class="project-list-title-content-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam tellus, fermentum quis nisl in, egestas finibus urna. Nunc blandit ut sapien ut egestas. Aliquam sed risus sit amet odio lobortis porttitor. Donec a commodo sem. Ut vulputate, dui eget scelerisque tincidunt, odio eros scelerisque nisl, dictum sagittis ante turpis id ipsum.
                </p>
                <button class="project-list-title-content-button">
                    View all projects
                </button>
            </div>
        </div>
        <div class="project-list-main-content-cards">
            {% for i in 1..5 %}
                {% include "project/card/_list_card.html.twig" %}
            {% endfor %}
        </div>
    </main>
{% endblock %}